<div id="login-page" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "login-form"}) do |f| %>
  

      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">welcome</p>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.email_field :email, label: false %>
          <label for="username" class="center-align">Username</label>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
            <%# if @validatable %>
            <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
            <!-- <%# end %><br /> -->
          <%= f.password_field :password, autocomplete: "off",label: false %>
          <label for="password" class="">Password</label>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.password_field :password_confirmation, autocomplete: "off" ,label: false%>
          <label for="password" class="">Password Confirmation</label>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.number_field :mobile_number,:label=>false %>
          <label for="username" class="center-align">Mobile Number</label>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.label :gender %><br />
          <%= f.radio_button :gender, "Male" %>
          <%= f.label :gender, "Male", :value => "male" %>
          <%= f.radio_button :gender, "Female"%>
          <%= f.label :gender, "Female", :value => "female"%>
        </div>
      </div>
      <br/>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.file_field :photo, as: :file ,:label=>false %>
          <label for="username" class="center-align">Photo</label>
        </div>
      </div>
        
      <div class="row">
        <div class="input-field col s12">
          <%= f.submit 'Register', class: "btn col s12" %>
        </div>
      </div>

    <% end %>
    <div class="row">
      <div class="input-field col s6 m6 l6">
        <p class="margin medium-small"><%= render "devise/shared/links" %></p>
      </div>
    </div>
  </div>
</div>

    

 


